<div style="margin-left:300px ;margin-top: 120px;" class="">
    <div>
        <h1>Orders</h1>
    </div>
    <table class="table" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Username</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Total</th>
            <th scope="col">Restaurant</th>
            <th scope="col"></th>
            <th scope="col"></th>
           
          </tr>
        </thead>
        <tbody *ngFor="let order of orders.reverse(),let i =index">
          <tr  >
            
            <th scope="row">{{order.id}}</th>
            <td>{{order.f_name}}</td>
            <td>{{order.l_name}}</td>
            <td>{{order.username}}</td>
            <td>{{order.address}}</td>
            <td>{{order.phone}}</td>
            <td>{{order.total |currency:'$'}}</td>
            <td>{{order.r_name}}</td>
            <td><button class="btn btn-success" >View Details</button></td>
         
            <td><button class="btn btn-danger" (click)="deleteOrder(order)">Delete</button></td>
         
          </tr>
        
        </tbody>
      </table>
    </div>
