<div style="margin-left:300px ;margin-top: 120px;" class="">
    <div>
        <h1>Orders</h1>
    </div>
    <table class="table" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Username</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Total</th>
            <th scope="col">Restaurant</th>
           
          </tr>
        </thead>
        <tbody *ngIf="order">
          <tr *ngFor="let o of order ">
            <th scope="row">{{o.id}}</th>
            <td>{{o.f_name}}</td>
            <td>{{o.l_name}}</td>
            <td>{{o.username}}</td>
            <td>{{o.address}}</td>
            <td>{{o.phone}}</td>
            <td>{{o.total }}</td>
            <td>{{o.r_name}}</td>
            
          </tr>
        
        </tbody>
      </table>
    </div>
