<div style="margin-left:300px ;margin-top: 120px;" class="">
    <div>
        <h1>Users</h1>
    </div>
    <table class="table" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Subject</th>
            <th scope="col">Message</th>
       
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of messages">
            <th scope="row">{{m.id}}</th>
            <td>{{m.username}}</td>
            <td>{{m.subject}}</td>
            <td>{{m.content}}</td>
     
            <td><button class="btn btn-danger" >Delete</button></td>
          </tr>
        
        </tbody>
      </table>
    </div>
