.card{
    position: relative;
    margin: .3rem auto 1rem auto;
    background-color: #fff;
    transition: box-shadow .25s;
    width: 100% !important;
    border-radius: 2px;
    
}





 .red-text{
    color:red
}
label{
    font-weight: bold;
}

.input-group{
    height: 40px;
}

.form-group {
    margin-bottom: 0rem !important;
}
.card-body{
    padding-top: 30px;
}